<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.spacejam.com/archive/spacejam/movie/jam.htm">Jade</a>
        </small>
        <nav>
            <ul>   
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>